<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>卓越书城</title>
  	<link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <style type="text/css">
        .indexfooter{
        	text-align: center;
        }
    </style>
  </head>

  <body>
    <div class="container" th:replace="layout :: navbar">(navbar)</div>
    <div class="container">
      <div class="table-responsive">
        <table class="table">
        	<caption>商品详情</caption>
        	<tbody>
			   <tr>
			     <td align="center"><img alt="book" th:src="${book.pic}" width="182px" height="177px" /></td>
			     <td>
			     	<p th:text="'书名：'+${book.name}">Mark</p>
			     	<p th:text="'作者：'+${book.author}">计算机</p>
			     	<p th:text="'分类：'+${book.category.name}">Mark</p>
			     	<p th:text="'库存：'+${book.num}">80</p>
			     	<p th:text="'价格：'+${book.price}">Mark</p>
			     </td>
			   </tr>
		   </tbody>
        </table>
        <input type="hidden" th:value="${book.num}" id="store_num"/>
        <div align="center">
        	<form id="add_cart_form" th:action="@{'/cart/add?id='+${book.id}}" class="form" role="form" method="post">
			    <div class="form-group">
					<label for="password">数量：</label>
					<input type="text" name="num" id="num" placeholder="0" style="width:25px"/>
				</div>
				<div class="form-group">
					<button type="button" id="addcart" class="btn btn-primary">加入购物车</button>
				</div>
			</form>
        </div>
      </div>
    </div>
    <div class="container">
    	<hr/>
    </div>
    <div class="container" align="center">
    	<img class="img-responsive" alt="info" th:src="@{/images/info.png}"/>
    	<img class="img-responsive" alt="info" th:src="@{/images/info2.png}"/>
    </div>

    <div th:include="layout :: footer" id="footer" class="indexfooter">(footer)</div>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/js/add_cart.js}"></script>
  </body>
</html>
