<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
	<title>卓越书城</title>
  	<link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <style type="text/css">
        .indexfooter{
        	text-align: center;
        }
        .flex{
      	    display: flex;
   			justify-content: space-around;
   			padding: 10px 0;
        }
        h4{
	        margin: 0 30px;
	    	line-height: 2;
	   	 	border-bottom: 1px solid;
        }
    </style>
  </head>

  <body>
    <div class="container" th:replace="layout :: navbar">(navbar)</div>

    <div class="container">
    	<div class="row">
    		<h4 th:text="${category1.name}"></h4>
            <div class="col-md-3 col-xs-6" th:each="book : ${pageBook}">
            	<div class="flex">
		   			<a th:href="@{'/book/find_by_id?id='+${book.id}+'&amp;username='+${user.username}}"><img alt="book" th:src="${book.pic}" class="img-responsive"/></a>
		   			<div>
		   				<p th:text="'书名:'+${book.name}">Mark</p>
		   				<p th:text="'作者:'+${book.author}">Mark</p>
		   				<p th:text="'价格'+${book.price}">Mark</p>
		   			</div>
		   		</div>
            </div>
        </div>
    </div>
    <div class="container" align="center">
    	<div class="pagination">
	    	<a th:href="@{'/category?id='+${category1.id}+'&amp;page=0&amp;username='+${user.username}}" th:if="${pageBook.number+1>1}" id="page">首页</a>
	    	<a th:href="@{'/category?id='+${category1.id}+'&amp;page='+${pageBook.number-1}+'&amp;username='+${user.username}}" th:if="${pageBook.number>0}" id="page">上一页</a>
	    	<span class="current" th:text="${pageBook.number+1}">1</span>
	    	<a th:href="@{'/category?id='+${category1.id}+'&amp;page='+${pageBook.number+1}+'&amp;username='+${user.username}}" th:if="${pageBook.number!=pageBook.totalPages-1}" id="page">下一页</a>
	    	<a th:href="@{'/category?id='+${category1.id}+'&amp;page='+${pageBook.totalPages-1}+'&amp;username='+${user.username}}" th:if="${pageBook.number+1!=pageBook.totalPages}" id="page">尾页</a>
	    	<span style="border: 0px">共有&nbsp;&nbsp;<span style="color:#3970AE;border: 0px;" th:text="${pageBook.totalPages}">2</span>&nbsp;&nbsp;页&nbsp;&nbsp;&nbsp;</span>
	   	</div>
    </div>

    <div th:include="layout :: footer" id="footer" class="indexfooter">(footer)</div>

  </body>
</html>
